# Project
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/node_modules
**/*.log
packages/*/coverage
packages/*/dist
.parcel-cache

# Other
**/.idea
**/.DS_Store
**/*.iml
