{
  "branches": "master",
  "repositoryUrl": "git@github.com:DevSide/dynamock.git",
  "debug": true,
  "dryRun": true,
  "ci": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "semantic-release-yarn",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
